body {
  margin: 0px;
  text-align: center;
  font-family: Calibri, serif;
  background-color: #b4d2e7;
  /* align-content: center; */
}

.profile-image {
  padding: 0%;
  width: 20%;
  float: inherit;
  height: 200;
  width: 200;
  margin-top: 10px;
}

.profile {
  padding: 0%;
}

.grad-hat-img {
  height: 200px;
  width: 200px;
}

nav {
  margin-top: 10px;
  margin-left: 80%;
}

h1 {
  margin: 0px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 5rem;
}
h2 {
  color: black;
  margin-bottom: 0px;
  font-family: "Noto Sans", sans-serif;
}
h3 {
  color: white;
  font-family: "Noto Sans", sans-serif;
}
div {
  background-color: #b4d2e7;
  padding-top: 20px;
}

.footer-link {
  color: blueviolet;
}

ul {
  list-style-position: inherit;
  list-style-type: none;
  margin: 0%;
  padding: 0%;
}
.contact-me {
  padding: 10px;
}
.bottom-container {
  padding: 0%;
}

.experience {
  padding: 20px;
  background-color: #f8f8f8;
  width: 40%;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  border-radius: 50px;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-globe {
  background: #ff6600;
  color: white;
}

.fa-envelope {
  background: black;
  color: white;
}
.button {
  display: inline-block;
  padding: 0.7em 1.4em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: black;
  background-color: #a1a6b4;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  text-align: center;
  position: relative;
}

.copyright {
  background-color: black;
  color: white;
  margin: 0px;
}

.single-skill {
  padding: 5px;
  background-color: #f8f8f8;
  margin: 0 auto;
  border-radius: 10px;
  margin: 3px 10px 3px 10px;
  width: 20%;
  float: left;
}

.text-box {
  padding: 5px;
  background-color: #f8f8f8;
  margin: 0 auto;
  border-radius: 10px;
  width: 50%;
}

.single-skill-text {
  margin: 0px;
}

.project-image {
  align-items: center;
  position: static;
  margin-top: 20px;
  height: 200px;
  width: 200px;
}

.computer-image {
  margin-top: 20px;
  height: 200px;
  width: 200px;
}

p {
  font-family: "Noto Sans", sans-serif;
}
